<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.travel2_mobile">

  <!-- Permission Internet -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name="${applicationName}"
    android:label="travel2_mobile"
    android:icon="@mipmap/ic_launcher">

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

      <!-- Thème utilisé avant le chargement de Flutter -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />

      <!-- Point d'entrée principal de l'application -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Utilisé par Flutter pour générer les plugins -->
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
  </application>

  <!-- Pour permettre les intents de type texte et liens http/https -->
  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT" />
      <data android:mimeType="text/plain" />
    </intent>
  </queries>

</manifest>